.carousel {
  position: relative;
  width: 300px; /* Adjust as needed */
  height: 400px; /* Adjust as needed */
  /* overflow: hidden; */
  margin-right: 120px;
}

.carousel-img {
  position: absolute;
  transition: transform 360ms cubic-bezier(0.25, 0.8, 0.25, 1), 
              top 360ms cubic-bezier(0.25, 0.8, 0.25, 1),
              left 360ms cubic-bezier(0.25, 0.8, 0.25, 1),
              right 360ms cubic-bezier(0.25, 0.8, 0.25, 1),
              z-index 0.5s ease-out;
  width: 200px; /* Adjust as needed */
  height: auto; /* Adjust as needed */
}

.carousel-img.top {
  top: 0;
  left: 50%;
  transform: translateX(-50%) scale(1.2); /* Center horizontally */
  z-index: 3;
}

.carousel-img.right {
  top: 50%;
  right: 0;
  transform: translateY(-50%) translateX(50%);
  z-index: 2;
  width: 70%; /* Adjust as needed */
}

.carousel-img.left {
  top: 50%;
  left: 0;
  transform: translateY(-50%) translateX(-50%);
  z-index: 1;
  width: 70%; /* Adjust as needed */
}

@media (max-width :1200px) {
    .carousel {
  position: relative;
  width: 200px; /* Adjust as needed */
  height: 300px; /* Adjust as needed */
  /* overflow: hidden; */
  margin-right: 120px;
}

.carousel-img {
  position: absolute;
  transition: transform 360ms cubic-bezier(0.25, 0.8, 0.25, 1), 
              top 360ms cubic-bezier(0.25, 0.8, 0.25, 1),
              left 360ms cubic-bezier(0.25, 0.8, 0.25, 1),
              right 360ms cubic-bezier(0.25, 0.8, 0.25, 1),
              z-index 0.5s ease-out;
  width: 170px; /* Adjust as needed */
  height: auto; /* Adjust as needed */
}
}