/* Remove default background color */
.backgroundcontact {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden; /* Ensures the image stays within the div */
}

/* Moving image animation */
.moving-image {
  width: 100%;
  height: 800px; /* Set a height larger than the section to create the movement effect */
  background-image: url("../../Asset/tiktik-jagged-min.jpg"); /* Update the path if necessary */
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: -100px; /* Start position to ensure the image is centered in the div */
  animation: MoveUpDown 3s linear infinite alternate;
}

@keyframes MoveUpDown {
  0% {
    transform: translateY(-50px); /* Move image up */
  }
  100% {
    transform: translateY(50px); /* Move image down */
  }
}

/* General styles for links */
.termandconditionshover {
  color: inherit; /* Use the text color */
  text-decoration: none;
  transition: color 5s ease, transform 0.3s ease;
}

.termandconditionshover:hover {
  text-decoration: underline;
  /* color: #0e0d0a; Change color on hover */
  transform: scale(1.1); /* Slightly enlarge the link */
}

.list-unstyled li {
  margin-bottom: 10px;
}

/* Social media icons */
.social-icons i {
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons i:hover {
  color: #e7e7e7; /* Change icon color on hover */
  transform: scale(1.2); /* Slightly enlarge the icon */
}

/* Ensure the content is above the moving image */
.container.mt-5 {
  z-index: 1;
  position: relative;
}

/* Footer background color */
.backgroundfooter {
  background-color: rgb(20, 20, 60);
}

@media screen and (max-width: 1024px) {
  .backgroundcontact {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden; /* Ensures the image stays within the div */
  }
  /* Moving image animation */
  .moving-image {
    width: 100%;
    height: 700px; /* Set a height larger than the section to create the movement effect */
    background-image: url("../../Asset/tiktik-jagged-min.jpg"); /* Update the path if necessary */
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -100px; /* Start position to ensure the image is centered in the div */
    animation: MoveUpDown 4s linear infinite alternate;
  }

  @keyframes MoveUpDown {
    0% {
      transform: translateY(-50px); /* Move image up */
    }
    100% {
      transform: translateY(50px); /* Move image down */
    }
  }
}

@media screen and (max-width: 992px) {
  .backgroundcontact {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden; /* Ensures the image stays within the div */
  }
  /* Moving image animation */
  .moving-image {
    width: 100%;
    height: 500px; /* Set a height larger than the section to create the movement effect */
    background-image: url("../../Asset/tiktik-jagged-min.jpg"); /* Update the path if necessary */
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -100px; /* Start position to ensure the image is centered in the div */
    animation: MoveUpDown 3s linear infinite alternate;
  }

  @keyframes MoveUpDown {
    0% {
      transform: translateY(-50px); /* Move image up */
    }
    100% {
      transform: translateY(50px); /* Move image down */
    }
  }
}
@media screen and (max-width: 768px) {
  ul {
    text-align: left;
  }
  .backgroundcontact {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden; /* Ensures the image stays within the div */
  }
  /* Moving image animation */
  .moving-image {
    width: 100%;
    height: 500px; /* Set a height larger than the section to create the movement effect */
    background-image: url("../../Asset/tiktik-jagged-min.jpg"); /* Update the path if necessary */
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -100px; /* Start position to ensure the image is centered in the div */
    animation: MoveUpDown 3s linear infinite alternate;
  }

  @keyframes MoveUpDown {
    0% {
      transform: translateY(-50px); /* Move image up */
    }
    100% {
      transform: translateY(50px); /* Move image down */
    }
  }
}
@media screen and (max-width: 576px) {
  .backgroundcontact {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden; /* Ensures the image stays within the div */
  }
  /* Moving image animation */
  .moving-image {
    width: 100%;
    height: 800px; /* Set a height larger than the section to create the movement effect */
    background-image: url("../../Asset/tiktik-jagged-min.jpg"); /* Update the path if necessary */
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -100px; /* Start position to ensure the image is centered in the div */
    animation: MoveUpDown 3s linear infinite alternate;
  }

  @keyframes MoveUpDown {
    0% {
      transform: translateY(-50px); /* Move image up */
    }
    100% {
      transform: translateY(50px); /* Move image down */
    }
  }
}
