.margin-top {
  margin-top: 100px;
}
.screen {
  height: 80vh;
}
.brandcolor {
  color: #19def1;
}
.brandtextcolor {
  color: #263147;
  /* 263147  this the main dull color*/
}
.line-height {
  line-height: 2.5rem;
}
