.margin-top {
  margin-top: 150px;
}
.screen {
  height: 80vh;
}
.brandcolor {
  color: #19def1;
}
.brandtextcolor {
  color: #263147;
  /* 263147  this the main dull color*/
}
.line-height {
  line-height: 2.5rem;
}
.carousel-index{
  z-index: -1;
}
/* .margin-on-title{
  margin-top: 200px;
} */

@media (max-width:576px) {
  .herocontainers{
    margin: 13px;
  }
.margin-top {
  margin-top: 100px;
}
.sm-d-none{
  display: none;
}
  
}